/* Welcome area */

.welcomearea {
  background-color: #1B1A17;
  color: #F0A500;

  padding: 5% 15% 7%;
  text-align: center;

  font-family: 'Montserrat';



}

.container-fluid{
  text-align: center;
}

h2{
  font-size: 3rem;
  padding: 5%;

}
